.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__/
__pycache__
*.py[cod]
*$py.class
.pytest_cache

/venv
/.idea


target/

.python-version


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


/site

.mypy_cache/

.idea/*

/user-files
/user-files/*/*
!/user-files/*/.gitkeep

/.fleet
